table {
  border: 1px solid black;
  border-collapse: collapse;
}

#foo {
  color: brown;
}

.baz {
  color: blue;
}

h2 {
  color: red;
}

#bar {
  color: orange;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}
