$color: red;

h1 {
  color: red;
}

ul {
  font-size: 14px;
  color: $color;
}

ol {
  font-size: 20px;
  color: $color;
}

/** Nesting example: Not compiled
 *  Only p and ul inside the div
 **/
div {
  font-size: 18px;

  p {
    color: blue;
  }

  ul {
    color: green;
  }
}